@model prjStoredProcedure.Models.ViewModelDepEmpByEmp

@*@model prjStoredProcedure.Models.usp_GetEmployeeByEmpID_Result*@
    

@{
    ViewBag.Title = "員工編輯";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
     
        @Html.HiddenFor(model => model.employee.fEmpId)

        <div class="form-group">
            <label for="fDepId" class="control-label col-md-2">部門</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.employee.fDepId, new SelectList(
                              Model.department,
                              "fDepId",
                              "fDepName",
                              Model.employee.fDepId), new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.employee.fDepId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="fDepId" class="control-label col-md-2">姓名</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee.fName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.employee.fName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="fDepId" class="control-label col-md-2">電話</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee.fPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.employee.fPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="編輯" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回員工列表", "Index", "Home", new { @class = "btn btn-success" })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
